
<div>
  <div class="container">
    <h1 class="text-center">Allow other people to enjoy your wonderful mountain</h1>
    <%= simple_form_for(@mountain) do |f| %>
        <%= f.input :name %>
        <%= f.input :range %>
        <%= f.input :height %>
        <%= f.input :location %>
        <%= f.input :terrain %>
        <%= f.input :trails %>
        <%= f.input :difficulty %>
        <%= f.input :price%>
        <%= f.submit %>
      <% end %>
</div>
    <div class="back-to-list text-center">
      <%= link_to 'Back to the list of mountains', root_path %>
    </div>
</div>
