<div class="card-all">
  <h1>My Bookings</h1>
  <% @bookings.each do |booking| %>
    <div class="dash-item">
          <div class="item-image">
            <% if booking.mountain.photo_url.attached? %>
              <%= cl_image_tag(booking.mountain.photo_url.key) %>
            <% else %>
              <%= image_tag('kong.jpg') %>
            <% end %>
          </div>
          <div class="item-text">
              <h2><%= booking.mountain.name %></h2>
              <p>Rented for <%= (booking.departure - booking.arrival).to_i %> day(s)</p>
              <p>from <%= booking.arrival.strftime("%A %e %B %Y") %> to <%=booking.departure.strftime("%A %e %B %Y") %> </p>
              <h2>Total price : <%= booking.total_price.floor %> $ </h2>
              <% if booking.status %>
                <p>Validated ! You can pack your stuffs</p>
              <% else %>
                <p>Pending</p>
              <% end %>
          </div>
    </div>
   <% end %>
</div>
