<div class="container">
  <h1 class="text-center text-primary">Awesome mountains spots</h1>
  <div class="mountain_list">
    <ul>
      <% @mountains.each do |mountain| %>
        <%= link_to mountain_path(mountain) do %>
          <li><%= mountain.name %> - <small><%= mountain.price %></small></li>
          <%= cl_image_tag("qifzmmfjf1nz5mtambr8",
      width: 400, height: 300, crop: :fill) %>
        <% end %>
      <% end %>
    </ul>
  </div>

  <div class="add_a_mountain">
    <%= link_to 'Add your mountain', new_mountain_path %>
  </div>
</div>
