<div class="hp-container">
  <div class="mountains_list">
      <% @mountains.each do |mountain| %>

        <div class="item">
          <%= link_to mountain_path(mountain) do %>
            <%= mountain.name %> - <small><%= mountain.price.floor %></small>
            <%= cl_image_tag("qifzmmfjf1nz5mtambr8") %>
          <% end %>
        </div>

      <% end %>
  </div>

  <div class="add_a_mountain">
    <%= link_to 'Add your mountain', new_mountain_path %>
  </div>
</div>
