<div class="hp-container">

  <div class="home-button">
    <button type="button" class= "btn btn-info py-2 w-50">
      <h3><%= link_to 'You are god ? Rent your mountain !', new_mountain_path %></h3>
    </button>
  </div>

  <div class="mountains_list">
      <% @mountains.each do |mountain| %>
        <div class="item">
          <%= link_to mountain_path(mountain) do %>
            <div class="item-image">
              <%= cl_image_tag("qifzmmfjf1nz5mtambr8") %>
            </div>
            <div class="item-text">
              <h4><%= mountain.name %></h4>
              <p>located in:</p>
              <p><%= mountain.range.upcase %></p>
              <p><%= mountain.height.floor %> meters</p>
              <small><%= mountain.price.floor %>$</small>
            </div>
          <% end %>
        </div>
      <% end %>
  </div>
</div>
